.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 10px;
    flex-direction: row;
}

.folder {
    width: 100px;
    height: 100px;
    /* border-style: solid;
    border-color: red; 
    border-width: 5px;*/
    position: relative;
    word-break: break-all;
    display: flex;
    flex-direction: column;
}

.folderName {
    position: absolute;
    bottom: 10px;
    font-size: small;
    color: white;
    justify-content: center;
    align-items: center;
}

.folderIcon {
    font-size: 4em;
    
}